name: Build and Push Docker Image on Tag

on:
  push:
    tags:
      - "v*.*.*" # triggers on tags like v1.0.0
    branches: ["master"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    #    runs-on: docker:cli

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set metadata
        id: meta
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          echo "VCS_REF=${GITHUB_SHA}" >> $GITHUB_OUTPUT
          echo "BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          build-args: |
            VERSION=${{ steps.meta.outputs.VERSION }}
            VCS_REF=${{ steps.meta.outputs.VCS_REF }}
            BUILD_DATE=${{ steps.meta.outputs.BUILD_DATE }}
          tags: |
            gas85/ssh-auth-logger:${{ steps.meta.outputs.VERSION }}
            gas85/ssh-auth-logger:latest
